
<section class="about" id="about">
    <div class="about-container">
        <div class="about-photo-wrapper">
            <div class="photo-bg"></div>
            <img src="./assets/img/MiPersonaSonrisaCortada.png" alt="Profile Photo">
        </div>
        <div class="about-text">
            <h2>
                Sobre mí<br>
                Persona <span>CV</span>
            </h2>
            <div class="decorative-line"></div>
            <p>Desarrollador backend que evoluciona hacia un perfil full stack. Cuento con experiencia en aplicaciones del lado del servidor y bases de frontend modernas.
                Mi propósito es construir soluciones web integrales, eficientes y orientadas a resultados.
            </p>
            <p class="subtitle">- Capacidad para colaborar en equipo eficazmente en proyectos multidisciplinarios. <br>
                - Motivado por la mejora continua y el aprendizaje constante.
            </p>
        </div>
    </div>
</section>