
<footer id="contact">
    <h3>
        <span id="role" style="color: #000000;">Contactar mi Gmail</span>
    </h3>

    <form id="contact-form">
        <input type="text" name="name" placeholder="Tu nombre" required>
        <input type="email" name="email" placeholder="Tu correo" required>
        <textarea name="message" placeholder="Tu mensaje" required></textarea>
        <button type="submit">Enviar mensaje</button>
    </form>

    <p style="color: #fff;">.</p>
    <p>"Con fe y esfuerzo, todo proyecto se alcanza; el Señor me guía y su paz me acompaña."</p>
    <p>&copy; 2025 Jonathan García. Todos los derechos reservados.</p>
</footer>