
<section class="hero" id="home">
    <div class="hero-content">
        <div class="hero-text">
            <h2>Portafolio</h2>
            <h1>Jonathan David García Gutiérrez</h1>
            <h3>
                <span id="role" style="color: #fff;">Desarrollador Full Stack graduado de Fundación Kinal</span> <span style="color: #1a53efe6;">con una edad de 18 años</span>
            </h3>
            <p>"El éxito es la suma de pequeños esfuerzos repetidos día tras día." <span style="color: #aaa;">-Robert Collier</span></p>
            <div class="hero-buttons">
                <a href="./assets/docs/CV_Jonathan_Garcia.pdf" class="btn" download>
                    <i class="fas fa-download"></i> Download CV
                </a>
                <a href="#certificate" class="btn secondary">View certificate</a>
                <a href="#contact" class="btn secondary">Contact Me</a>
                <a href="https://www.notion.so/30f77cb359348062abf8d7842d909fa1?v=30f77cb359348065983e000c6285b91d&source=copy_link"
                    class="btn" target="_blank" rel="noopener noreferrer">
                    <i class="fa-solid fa-up-right-from-square"></i> Documentaciones
                </a>
            </div>
        </div>
    </div>
</section>