
<div id="modal-view" class="modal modal-view">
    <span class="modal-close close-view">&times;</span>
    <div class="modal-content">
        <img id="modal-main-img-view" src="" alt="Imagen View" />
    </div>
</div>

<div id="modal-project" class="modal modal-project">
    <span class="modal-close close-project">&times;</span>
    <div class="modal-content">
        <img id="modal-main-img-project" src="" alt="Imagen Project" />
        <div id="modal-thumbnails" class="thumbnails"></div>
    </div>
</div>