
<section class="projects" id="projects">
    <h2>Projects</h2>
    <div class="swiper projects-swiper">
        <div class="swiper-wrapper">

            <div class="swiper-slide project-slide" 
            data-images='["./assets/img/SocialPost_Medial.png", "./assets/img/Comentario_Medial.png", "./assets/img/code/Filtro_Post_Social.png", "./assets/img/code/CrearComentario_Social.png"]'>
                <div class="project-content">
                    <div class="project-gallery">
                        <div class="main-img-container">
                            <img class="main-img open-gallery" src="./assets/img/SocialPost_Medial.png" alt="Main Image">
                        </div>
                        <div class="side-images">
                            <img class="thumb-img open-gallery" src="./assets/img/code/Filtro_Post_Social.png" alt="Thumb 1">
                            <img class="thumb-img open-gallery" src="./assets/img/code/CrearComentario_Social.png" alt="Thumb 2">
                        </div>
                    </div>
                    <div class="project-info">
                        <h3>Social Blog</h3>
                        <p>Medio social donde puedes hacer publicaciones y comentar.</p>
                        <div class="project-links">
                            <a href="https://github.com/JonathandGarciag/Social-medial" 
                                class="btn" 
                                target="_blank" 
                                rel="noopener noreferrer">
                                <i class="fab fa-github"></i> Backend
                            </a>
                            <a href="https://github.com/JonathandGarciag/Social-Blog" 
                                class="btn" 
                                target="_blank" 
                                rel="noopener noreferrer">
                                <i class="fab fa-github"></i> Frontend
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide project-slide" 
            data-images='["./assets/img/TurboFix.png", "./assets/img/Login_TurboFix.png","./assets/img/Menu_TurboFix.png", "./assets/img/code/Empleado_TurboFix.png", "./assets/img/code/Vehiculo_TurboFix.png"]'>
                <div class="project-content">
                    <div class="project-gallery">
                        <div class="main-img-container">
                            <img class="main-img open-gallery" src="./assets/img/TurboFix.png" alt="Main Image">
                        </div>
                        <div class="side-images">
                            <img class="thumb-img open-gallery" src="./assets/img/code/Empleado_TurboFix.png" alt="Thumb 1">
                            <img class="thumb-img open-gallery" src="./assets/img/code/Vehiculo_TurboFix.png" alt="Thumb 2">
                        </div>
                    </div>
                    <div class="project-info">
                        <h3>TurboFix</h3>
                        <p>Sistema de control de taller mecanico.</p>
                        <div class="project-links">
                            <a href="https://github.com/LordAlejandroCarrillo/TurboFix" 
                                class="btn" 
                                target="_blank" 
                                rel="noopener noreferrer">
                                <i class="fab fa-github"></i> Link
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide project-slide" 
            data-images='["./assets/img/Login_Almacenadora.png", "./assets/img/Graficas_Almacenadora.png","./assets/img/Lista_Almacenadora.png", "./assets/img/code/Estadistic_Almacenadora.png", "./assets/img/code/Listar_Almacenadora.png"]'>
                <div class="project-content">
                    <div class="project-gallery">
                        <div class="main-img-container">
                            <img class="main-img open-gallery" src="./assets/img/Login_Almacenadora.png" alt="Main Image">
                        </div>
                        <div class="side-images">
                            <img class="thumb-img open-gallery" src="./assets/img/code/Estadistic_Almacenadora.png" alt="Thumb 1">
                            <img class="thumb-img open-gallery" src="./assets/img/code/Listar_Almacenadora.png" alt="Thumb 2">
                        </div>
                    </div>
                    <div class="project-info">
                        <h3>Almacenadora</h3>
                        <p>Página donde administras una almacenadora desde dentro.</p>
                        <div class="project-links">
                            <a href="https://github.com/KevinDGutierrez/Almacenadora_G1_Backend" 
                                class="btn" 
                                target="_blank" 
                                rel="noopener noreferrer">
                                <i class="fab fa-github"></i> Backend
                            </a>
                            <a href="https://github.com/KevinDGutierrez/Almacenadora_G1_Frontend" 
                                class="btn" 
                                target="_blank" 
                                rel="noopener noreferrer">
                                <i class="fab fa-github"></i> Frontend
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide project-slide" 
            data-images='["./assets/img/StartKova.png", "./assets/img/Moneda_Bank.png","./assets/img/Transferencias_Bank.png", "./assets/img/code/ApiMoneda_Kova.png", "./assets/img/code/Transferencia_Kova.png"]'>
                <div class="project-content">
                    <div class="project-gallery">
                        <div class="main-img-container">
                            <img class="main-img open-gallery" src="./assets/img/StartKova.png" alt="Main Image">
                        </div>
                        <div class="side-images">
                            <img class="thumb-img open-gallery" src="./assets/img/code/ApiMoneda_Kova.png" alt="Thumb 1">
                            <img class="thumb-img open-gallery" src="./assets/img/code/Transferencia_Kova.png" alt="Thumb 2">
                        </div>
                    </div>
                    <div class="project-info">
                        <h3>Bank Kova Capital</h3>
                        <p>Imitación de un banco, usando api's de conversión.</p>
                        <div class="project-links">
                            <a href="https://github.com/JonathandGarciag/BankCapital-Kova-Backend" 
                                class="btn" 
                                target="_blank" 
                                rel="noopener noreferrer">
                                <i class="fab fa-github"></i> Backend
                            </a>
                            <a href="https://github.com/JonathandGarciag/BankCapital-Kova-Frontend" 
                                class="btn" 
                                target="_blank" 
                                rel="noopener noreferrer">
                                <i class="fab fa-github"></i> Frontend
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>