<section class="view" id="viewer">
    <div class="swiper viewer-swiper">
        <h1 data-i18n="viewer.hint">Al darle click's a las imagenes se expandiran para mejor visualización al igual que en projects</h1>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="view-container">
                    <div class="swiper-zoom-container">
                        <img src="./assets/img/Comentario_Medial.png" alt="Profile Image" class="profile-image" data-i18n-alt="viewer.imageAlt">
                    </div>          
                    <h1 data-i18n="viewer.comments">Sección Comentarios</h1>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="view-container">
                    <div class="swiper-zoom-container">
                        <img src="./assets/img/SocialPost_Medial.png" alt="Profile Image" class="profile-image" data-i18n-alt="viewer.imageAlt">
                    </div>
                    <h1 data-i18n="viewer.posts">Sección publicaciones</h1>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="view-container">
                    <div class="swiper-zoom-container">
                        <img src="./assets/img/Lista_Almacenadora.png" alt="Profile Image" class="profile-image" data-i18n-alt="viewer.imageAlt">
                    </div>
                    <h1 data-i18n="viewer.suppliers">Sección Proveedores</h1>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="view-container">
                    <div class="swiper-zoom-container">
                        <img src="./assets/img/Graficas_Almacenadora.png" alt="Profile Image" class="profile-image" data-i18n-alt="viewer.imageAlt">
                    </div>
                    <h1 data-i18n="viewer.charts">Sección Gráficas</h1>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="view-container">
                    <div class="swiper-zoom-container">
                        <img src="./assets/img/Menu_TurboFix.png" alt="Profile Image" class="profile-image" data-i18n-alt="viewer.imageAlt">
                    </div>
                    <h1 data-i18n="viewer.dealerMenu">Sección Menu Distribuidor</h1>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="view-container">
                    <div class="swiper-zoom-container">
                        <img src="./assets/img/Login_TurboFix.png" alt="Profile Image" class="profile-image" data-i18n-alt="viewer.imageAlt">
                    </div>
                    <h1 data-i18n="viewer.login">Sección Login</h1>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="view-container">
                    <div class="swiper-zoom-container">
                        <img src="./assets/img/Moneda_Bank.png" alt="Profile Image" class="profile-image" data-i18n-alt="viewer.imageAlt">
                    </div>
                    <h1 data-i18n="viewer.currency">Sección Conversión De Moneda</h1>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="view-container">
                    <div class="swiper-zoom-container">
                        <img src="./assets/img/Transferencias_Bank.png" alt="Profile Image" class="profile-image" data-i18n-alt="viewer.imageAlt">
                    </div>
                    <h1 data-i18n="viewer.transfers">Sección Transferencias</h1>
                </div>
            </div>
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>