
<section class="view" id="viewer">
    <div class="swiper viewer-swiper">
        <h1>Al darle click's a las imagenes se expandiran para mejor visualización al igual que en projects</h1>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="view-container">
                    <div class="swiper-zoom-container">
                        <img src="./assets/img/Comentario_Medial.png" alt="Profile Image" class="profile-image">
                    </div>          
                    <h1>Sección Comentarios</h1>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="view-container">
                    <div class="swiper-zoom-container">
                        <img src="./assets/img/SocialPost_Medial.png" alt="Profile Image" class="profile-image">
                    </div>
                    <h1>Sección publicaciones</h1>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="view-container">
                    <div class="swiper-zoom-container">
                        <img src="./assets/img/Lista_Almacenadora.png" alt="Profile Image" class="profile-image">
                    </div>
                    <h1>Sección Proveedores</h1>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="view-container">
                    <div class="swiper-zoom-container">
                        <img src="./assets/img/Graficas_Almacenadora.png" alt="Profile Image" class="profile-image">
                    </div>
                    <h1>Sección Gráficas</h1>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="view-container">
                    <div class="swiper-zoom-container">
                        <img src="./assets/img/Menu_TurboFix.png" alt="Profile Image" class="profile-image">
                    </div>
                    <h1>Sección Menu Distribuidor</h1>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="view-container">
                    <div class="swiper-zoom-container">
                        <img src="./assets/img/Login_TurboFix.png" alt="Profile Image" class="profile-image">
                    </div>
                    <h1>Sección Login</h1>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="view-container">
                    <div class="swiper-zoom-container">
                        <img src="./assets/img/Moneda_Bank.png" alt="Profile Image" class="profile-image">
                    </div>
                    <h1>Sección Conversión De Moneda</h1>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="view-container">
                    <div class="swiper-zoom-container">
                        <img src="./assets/img/Transferencias_Bank.png" alt="Profile Image" class="profile-image">
                    </div>
                    <h1>Sección Transferencias</h1>
                </div>
            </div>
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>